/* body [class*="col-"] {
  height: 40px;
  border: 1px solid red;
} */

/* UTILITY */
.container-sm{
  width:70%;
  margin: auto;
}
h2, h3{
  text-transform: uppercase;
}
h6{
  line-height: 50px;
}

/* SEPARATOR */
.separator .icon{
  font-size: 32px;
}
.separator{
  text-align: center;
  margin: 10px 0;
}
.separator span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1rem;
}
.hr {
  width: 15%;
  border-bottom: 4px solid;
  margin: 0 20px;
}

/* COLORS */
.bg_darkblue{
  background-color: #2C3E50;
}
.bg_green{
  background-color: #1ABC9C;
}
.bg_blue {
  background-color: #3A546D;
}
.white{
  color: white;
}

/* HEADER */
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a{
  color: white;
}
.navbar-default .navbar-header > a:hover , .navbar-default .navbar-nav > li > a:hover{
  color: #1ABC9C;
}

.jumbotron h1{
  font-size: 5rem;
}
.jumbotron img{
  height: 200px;
  margin-top: 50px;
}
.jumbotron{
  height: 500px;
}

/* PORTFOLIO */
#portfolio{
  padding-bottom:  40px;
}

/* OVERLAY */
.lay_container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1ABC9C;
}
.lay_container:hover .overlay {
  opacity: 1;
}
.logo {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ABOUT */
#about p{
  text-align: left;
}
#about .btn{
  margin: 20px 0;
  border: 1px solid white;
}
#about .btn:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

/* CONTACT */
#contact input[type=text], textarea{
  width: 100%;
  padding: 12px 20px;
  border: 0;
  border-bottom: 2px solid #ededed;
}
#contact input[type=submit] {
  width: 80px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px 0 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#footer .row{
  padding: 10px 0;
  margin: 10px 0;
}
#footer ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}
#footer ul li{
  margin: 5px;
  font-size: 20px;
  line-height: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
#footer a{
  color: #1ABC9C;
}


/* FINE */
